@import url('./assets/iconfont/iconfont.less');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff !important;
}

.icon-default-app {
  font-size: 50px;
}

.app {
  &__nonuse-ie,
  &__nonuse-tag span,
  &__nonuse-tag i {
    font-size: 30px;
    text-align: center;
  }
  &__nonuse-tag {
    display: inline-block;
    margin: 100px 10px;
  }
}

.ant-table-thead {
  .ant-table-column-sorters,
  th div {
    text-align: center !important;
  }
}

.ant-table-thead {
  .ant-table-column-sorters,
  th div {
    text-align: center !important;
  }
}
.ant-table,
.app-title,
.lz-table .operation-btn,
.home-task-filter span,
.home-title-name,
.ant-tree-title,
.workbench-setting-app-title,
.ant-list-header,
.ant-list-item-meta-title,
.ant-list-item-meta-description,
.ant-list-item-content,
.ant-form-item-label,
.ant-btn-sm,
.ant-table-column-sorters,
th,
.ant-fullcalendar-value,
.lz-form div {
  color: #000 !important;
  font-weight: bold;
}
.ant-btn-primary {
  color: #fff !important;
}
body {
  color: #000 !important;
}
